div .content {
	position: relative;
	text-align:center;
	margin: 10px auto;
	
}

.hikecontainer{
    background-color: #f1f1f1; /*rgba(39,55,80, 0.9);*/
    padding: 20px;
    min-height: 370px;
    width: -moz-fit-content;
    width: fit-content;
    margin: 2px;
    color: #273750;
    transition: all .2s ease-in-out;
    text-align: center;
    border-radius: 30px;
    border: 2px solid #273750;
    display: inline-block;
}

.hikeImage{
    float: left;
    width: 300px;
    height: 175px;
    /*opacity: 0.6;*/
    margin: 0 auto;
}

img.hovered {
    max-width: 300px;
    max-height: 175px;
}

.hikeTitlediv{
    float: left;
    width: 300px;
    clear: both;
    height: 80px;
}
/*ATTENTION LOGIN PLUS VISIBLE*/
.hikeTitlediv a:link, a:visited, a:active {
    color: #273750;
}
/* mouse over link */
.hikeTitlediv a:hover {
    color: steelblue;
}

.HikeDesc{
    float: left;
    width: 300px;
    height: 100px;
    overflow-y: auto;
    text-align: justify;
    padding: 5px;
    clear: both;
}

.h1Colored {
    color: steelblue;
}
