*, 
*:before, 
*:after {
   /*box-sizing(border-box);*/ 
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
	color: #8f8f8f;
}

a:visited {
	text-decoration: none;
}

.div_principal { 
  margin: 0 auto;
  background: #f1f1f1;
  padding: 1em;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: #273750 2px solid;
  display: block;
  width: 35%;
  min-width: 350px;
  max-width: 350px;
}

.switchButtonPane {
	text-align: center;
	border-bottom: #273750 solid 1px;
	padding-bottom: 10px;
}

div .error-msg ~ div {
	text-align: center;
}

input[type=submit] {
	width: 30%;
	display: inline-block;
}

#tableContent {
	width: 100%;
}

.tableInfo {
	width: 100%;
}