#projects{
    float: left;
    max-width: 300px;
    margin-right: 15px;
}

@media screen and (max-width: 610px) {
    #projects{
        position: relative;
        margin: auto 0;
    }
}

.hovered:hover {
    opacity: .5;
}

#manual{
    float: left;
    max-width: 300px;
    margin-right: 15px;
}

#footer{
    clear: both;
}