body {
    font-family: Arial;
}

footer {
    font-family: Arial;
    font-size: 14px;
    clear: both;
    width: 100%;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
}

#content {
    font-family: Arial;
    font-size: 14px;
    padding-top: 15px;
    clear: both;
    width: -moz-fit-content;
    width: fit-content;
    position: relative;
    margin: 0 auto;
    min-height: 200px;
}

#Sitetitle {
    font-family: "AR BONNIE";
    font-size: 54px;
    text-decoration-color: #006699;
    margin: 0px;
    max-width: 50%
}

.dropbtn {
    background: url(../Images/menu_icon.png) no-repeat;
    color: white;
    height: 52px;
    width: 52px;
    border: none;
    cursor: pointer;
    box-shadow: none;
}

.dropbtn:hover, .dropbtn:focus {
    background: url(../Images/menu_icon.png) no-repeat;
}

#myInput {
    border-box: box-sizing;
    background-image: url('../Images/search_icon.png');
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
}

.dropdown {
    /*position: relative;*/
    float: left;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 10101010 !important;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {
    background-color: #ddd
}

.show {
    display: block;
}

#languages {
    float: right;
    padding-right: 15px;
    padding-top: 15px;
}

#login {
    float: right;
    font-family: Arial;
    font-size: 18px;
    padding-right: 15px;
    padding-top: 15px;
    vertical-align: middle;
}

div#login a:link {
    color: #273750;
}

div#login a:visited {
    color: #273750;
}

div#login a:hover {
    color: steelblue;
}

div#login a:active {
    color: #273750;
}

#container {
    position: relative;
}

#logo {
    float: left;
}

.success-msg {
    text-align: center;
    margin-top: 10px;
    font-size: 12;
    color: #008000;
}

.error-msg {
    text-align: center;
    margin-top: 10px;
    font-size: 12px;
    color: #F00;
}

button, input, textarea, select {
    border: 0;
    outline: 0;
    padding: 1em;
    border-radius: 8px;
    display: inline-block;
    margin-top: 5px;
    width: 100%;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
    resize: none;
}

input[type=file] {
    box-shadow: none;
}

button, input[type=submit], input[type=button] {
    color: white;
    background: #094888;
    cursor: pointer;
    transition: background 0.3s linear;
}

button:hover, input[type=submit]:hover, input[type=button]:hover {
    box-shadow: 0px 0px 2px 3px rgba(39, 55, 80, 0.1);
    background-color: #5996CE;
}

input:focus, textarea:focus, select:focus {
    box-shadow: 0px 0px 2px 3px rgba(39, 55, 80, 0.1);
}

textarea {
    height: 125px;
}

.textarea {
    font-family: Arial;
    font-size: 16px;
}

form label {
    display: inline-block;
    margin-top: 20px;
    color: #273750;
}

form label:FIRST-CHILD {
    margin-top: 0px;
}

.tableInfo {
    width: 75%; 
    margin: 5px auto;
    background-color: #f1f1f1;
    border-radius: 10px;
    border: 2px solid #273750;
    border-spacing: 0;
    color: #273750;
}

.tableInfoTitle {
    margin: 25px auto;
    font-size: 18px;
    font-weight: bolder;
    text-align: center;
}

.tableInfo thead tr th {
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.tableInfo thead tr {
    margin: 0;
    padding: 0;
}

.tableInfo tbody tr td {
    padding: 25px;
    border-top: 2px solid #273750;
    vertical-align: middle;
}

.tableInfo tbody tr:hover {
    background-color: #e6e6e6;
}
 
.tableInfo tbody tr:last-child {
    padding-bottom: 0;
    margin-bottom: 0;	 
}

#resumeTable thead tr th:hover {
    background-color: #d0d0d0;
}

#resumeTable thead tr th.headerSortUp,
#resumeTable thead tr th.headerSortDown {
    background-color: #d0d0d0;
}

#resumeTable thead tr th.headerSortUp span::after {
    margin-left: 5px;
    content: url('../Images/sortUp.png');
} 

#resumeTable thead tr th.headerSortDown span::after {
    margin-left: 5px;
    content: url('../Images/sortDown.png');
}

.containerFilter {
    text-align: center;
    margin : 0 auto;
    margin-top: 25px;
    margin-bottom: 15px;
}

.filter {
    width: 350px;
    border: black 1px solid;
}

.quickItem {
    width: auto;
    margin-left: 25px;
}